.bg-img
  img(src='/assets/img/background2.jpg')

h1.upper-title OUT NOW
.main-wrapper
  .main-container
    .cover-container
      .album-info
        h1 CALM DOWN, IT'S OVER
        h3 Eugene Delta
        p
          span.nr 1
          span.sont-title Intro
        p 
          span.nr 2
          span.sont-title Bad Jazz
        p 
          span.nr 3
          span.sont-title Avalanche
        p 
          span.nr 4
          span.sont-title Balada Of A Rainy Fall
        p 
          span.nr 5
          span.sont-title Blood And Gold
        p 
          span.nr 6
          span.sont-title Iron Ore
        p 
          span.nr 7
          span.sont-title Magic
        p 
          span.nr 8
          span.sont-title Oblivion
        p 
          span.nr 9
          span.sont-title Bridges Burn
        p 
          span.nr 10
          span.sont-title Quid Pro Quo
        p 
          span.nr 11
          span.sont-title Spring Is Dead
        p 
          span.nr 12
          span.sont-title Centrepiece
        p 
          span.nr 13
          span.sont-title Calm Down, It's Over
          
        img(src='/assets/img/CTA3.png').cta
      .cover

        iframe(scrolling='no', frameborder='0', allowtransparency='true', src='https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=false&width=306&height=306&color=007FEB&layout=dark&size=medium&type=album&id=228470082&app_id=1', width=306, height=306)#dz-root.preview-box.mobile
        iframe(scrolling='no', frameborder='0', allowtransparency='true', src='https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=false&width=526&height=526&color=007FEB&layout=dark&size=medium&type=album&id=228470082&app_id=1', width=526, height=526).preview-box.desktop
        .play-button(onclick="javascript:document.getElementById('dz-root').className += ' fadeIn';this.className += ' hidden';")
          img(src='/assets/img/playPreview.png')
    .content-container

      .title-container
        h1 CALM DOWN, IT'S OVER
        h2 Eugene Delta
      .link-wrapper
        .link-container
          .link-list
            .link
              //- a(target="_blank" href='https://itunes.apple.com/at/album/calm-down-its-over/1566475455?app=itunes').itunes
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_itunes.svg')
                span.button Download
            .link
              a(target="_blank" href='https://itunes.apple.com/at/album/calm-down-its-over/1566475455?app=music').applemusic
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_applemusic.svg')
                span.button Play
            .link
              a(target="_blank" href='https://open.spotify.com/album/1c6HdhUBULf3BusHZqXWnM').spotify
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_spotify.svg')
                span.button Play
            .link
              a(target="_blank" href='https://music.youtube.com/playlist?list=OLAK5uy_nF1BjRTeUIJZ0rpDrdEfReoIp8SpT-EHQ').youtube
                img(src='https://cdn.freelogovectors.net/wp-content/uploads/2020/11/youtube-music-logo.png')
                span.button Play
            .link
              a(target="_blank" href='https://music.amazon.de/albums/B094DBKJL5').amazon
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_amazonmp3.svg')
                span.button Play
            .link
              a(target="_blank" href='http://www.deezer.com/album/228470082').deezer
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_deezer.svg')
                span.button Play
      .album-info-mobile
        h1 CALM DOWN, IT'S OVER
        p
          span.nr 1
          span.sont-title Intro
        p 
          span.nr 2
          span.sont-title Bad Jazz
        p 
          span.nr 3
          span.sont-title Avalanche
        p 
          span.nr 4
          span.sont-title Balada Of A Rainy Fall
        p 
          span.nr 5
          span.sont-title Blood And Gold
        p 
          span.nr 6
          span.sont-title Iron Ore
        p 
          span.nr 7
          span.sont-title Magic
        p 
          span.nr 8
          span.sont-title Oblivion
        p 
          span.nr 9
          span.sont-title Bridges Burn
        p 
          span.nr 10
          span.sont-title Quid Pro Quo
        p 
          span.nr 11
          span.sont-title Spring Is Dead
        p 
          span.nr 12
          span.sont-title Centrepiece
        p 
          span.nr 13
          span.sont-title Calm Down, It's Over